

{% load static %}
<html lang="ja">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>会計ヘルプユー | Help Your Business from start-up</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">会計ヘルプユー</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">サービス</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>セルフでできる税務申告-申告以外の業務はすべて丸投げでOK</h1>
      <p class="lead">初めてでも簡単。経費・手間を抑え、本業を集中して行える環境をご提供いたします</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>税務（確定）申告のプロセス</h2>
          <p class="lead"></p>
          <h2></h2>
          <img src="{% static 'img/apply_process.png' %}" alt="" width="800" height="500">

        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>サービス</h2>
          <p class="lead"></p>
           <ul>
            <li>手間のかかる記帳とファイリングをすべて丸投げ。</li>
            <li>独自の証票テキスト化システムで記帳入力作業を徹底自動化。同時に画像ファイルとしてファイリング</li>
            <li>証票の画像はWEBでいつでもご確認いただけます。オリジナルの証票も弊社で７年管理。必要な書類はいつでも取出可</li>
            <li>税理士とあえて提携せず、確定申告をセルフで行うことで、最新のオリジナルサービスが格安でご提供可能になっています</li>
            <li>シンプルな費用体系：５０円/帳票（初年度）、２年目以降は３０円</li>
            <li>証票アプリーファイリングシステムのデモ</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>ご依頼・ご相談はこちらまで</h2>
          <p class="lead">Email：</p>
          <p class="lead">電話番号：</p>
          <p class="lead">住所：</p>
          <p class="lead">代表者：土渕友香子</p>
          <p class="lead">経歴：</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
